
    <center><a class="zocial linkedin" href="/auth/linkedin">Update informatii folosind LinkedIn</a></center><br><br>
    <div class="container-narrow">
    	
	<div class="masthead">
        <div id="navbar-example" class="navbar navbar-static">
            <div class="navbar-inner">
            <a class="brand" href="">Alumni</a>
              <div class="container" style="width: auto;">
                <ul class="nav" role="navigation">
                  <li class="active"><a href="/home">Harta colegi</a></li>                  
              </div>
            </div>
          </div>
    </div>
      
    <div class="well">

    	<h4 class="muted">vezi pe harta unde se afla colegii tai.</h4>
        <%= stylesheet_link_tag 'gmaps4rails' %>
        <%= gmaps4rails(@json) %><br>
         
        <% content_for :scripts do %>
              <script type="text/javascript" charset="utf-8">
                Gmaps.map.callback = function() {
                    for (var i = 0; i <  Gmaps.map.markers.length; ++i) {
                        var marker = Gmaps.map.markers[i].serviceObject
                        marker.marker_id = Gmaps.map.markers[i].id;
                        google.maps.event.addListener(marker, 'click', function() {
                          users = this.marker_id
                          $("#list_users").empty();
                          head = "<tr><th>Poza</th><th>Prenume</th><th>Nume</th><th>Email</th><th>Promotia</th></tr>";
                          $("#list_users").append(head); 
                          for (var i=0;i<users.length;i++){
                            if(users[i]["imageurl"]==null)
                              new_row = "<tr><td><a href='/users/"+users[i]["id"]+"'><img src='/assets/no_profile.jpeg', width='50', height='50' ></a></td><td>"+users[i]["first_name"]+"</td><td>"+users[i]["last_name"]+"</td>><td>"+users[i]["email"]+"</td></tr>";
                            else
                              new_row = "<tr><td><a href='/users/"+users[i]["id"]+"'><img src='"+users[i]["imageurl"]+"', width='50', height='50' ></a></td><td>"+users[i]["first_name"]+"</td><td>"+users[i]["last_name"]+"</td>><td>"+users[i]["email"]+"</td><td>"+users[i]["promotion"]+"</td></tr>";

                            $("#list_users").append(new_row); 
                          }    });
                    }                    
                }
            </script>
          <% end %>
<form class="form-search cerereAdmitere">
	    <div class="navbar navbar-static">
	    	<div class="navbar-inner">
	    	
	    	<span class="filterTagAlumni">Grupa</span>
	    	<select class="selectAlumni span1">
										
			</select>
	    	
			<span class="filterTagAlumni">Promotia</span>
	    	        <select class="selectAlumni span2">
						<%  User.select("DISTINCT promotion").each do |g| %>
						  <option> <%= g.promotion %></option>
                                                <% end %>
			</select>
	    	
			<span class="filterTagAlumni">Specializare</span>
	    	        <select class="selectAlumni span3">
				                <%  User.select("DISTINCT specialization").each do |g| %>
						  <option> <%= g.specialization %></option>
                                                <% end %>		
			</select>
	    	
	        <button type="submit" class="btn">Actualizare</button>
	        
	    	
            </div>
         </div>
	     </form><br>

       <h4></h4>
       <table id ="list_users"class="table table-striped alumni">
		</table>
    </div>
	</div>


</html>
