    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">      
        	<a class="brand" href="index.html">Alumni</a>
        	<div class="nav-collapse collapse nav-bar-inverse-collapse">
        		<ul class="nav pull-right">
        		<li><a href="">Actualizare Informatii</a>
            <li><%= link_to "Iesire", destroy_user_session_path, :method => :delete %></li>
        		</ul>
        	</div>
        </div>
      </div>
    </div>

